module.exports = {
    // Consumer details come from registering an app at https://dev.twitter.com/
    'consumer_key': '',
    'consumer_secret': '',

    'access_token_key': '', // Token connecting the app to this account
    'access_token_secret': '' // Secret connecting the app to this account
};
